.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
/* -------------------------------------------------------------------------- */

/* .nav {
  float: right;
  margin-left: 10%;
} */

.transactions {
  float: left;
  margin-left: 50px;
}

.portfolio {
  float: left;
  margin-left: 50px;
  padding-right: 50px;
  /* border-right: 1px solid black; */
}

.investment {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.pageTitle {
  /* float: left; */
  /* margin-left: 50px; */
}

.vl {
  border-left: 6px solid black;
  height: 500px;
  position: fixed;
  left: 50%;
  margin-left: -3px;
  top: 15%;
}

.buyForm {
  float: right;
  padding-right: 100px;
  top: 50%;
}
